* {
    font-family: 'Slabo 27px', serif;
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
}

header > h1 {
    margin-top: 30px;
    height: 45px;
}

body {
    background-color: #74b9ff;
}